<h1>******** Now your result ********</h1>
<p>Your word: <%= @attempt%></p>
<p>Time taken to answer: <%= @time_taken%></p>
<p>Your score: <%= @score_message[0]%></p>
<p>Message: <%= @score_message[1]%></p>
